<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Tien Hung Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-facebook-official" style="font-size:24px;"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-twitter" style="font-size:24px;"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-instagram" style="font-size:24px;"></i></a></li>
      </ul>
    </footer>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>