<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container mt-3">
        <h1>Không tìm thấy trang mà bạn yêu cầu !</h1>
    </div>
<%- include('includes/end.ejs') %>