/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* UNIVERSAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}


h1 {
    font-family: 'Bungee Shade', cursive;
}

.form-control.formstyle {
  width: 30rem;
  margin: auto;
  display: block;
}

